* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #f8a5c2;
    --corSecundaria: #8f2e49;
}